<div class="row" style="padding-top:10px">
  <div class="col-xs-3">
    <table class="table table-bordered table-striped" style="border:2px solid black;margin-left:15px;">
      <thead>
        <tr>
          <th>FieldID</th>
          <th>Values</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key,val) in vm.testEvent">
          <td>{{key}}</td>
          <td>{{val}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-4">
    <div class="box box-primary" style="border-top:0px">
      <div class="box-header with-border">
        <h3 class="box-title">Template Message</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="form-group">
          <input class="form-control" placeholder="Subject:" ng-model="vm.templateSubject">
        </div>
        <div class="form-group">
              <textarea id="compose-textarea" class="form-control" style="height: 300px" ng-model="vm.templateBody">
                Template Email
              </textarea>
        </div>
      </div>
      <!-- /.box-body -->
      <!-- /.box-footer -->
    </div>
    <!-- /. box -->
  </div>
  <div class="col-xs-4">
    <div class="box box-primary" style="border-top:0px">
      <div class="box-header with-border">
        <h3 class="box-title">Populated Message</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="form-group">
          <input class="form-control" placeholder="Subject:" ng-model="vm.populatedSubject">
        </div>
        <div class="form-group">
              <textarea id="compose-textarea" class="form-control" style="height: 300px" ng-model="vm.populatedBody">
              </textarea>
        </div>
      </div>
      <!-- /.box-body -->
      <!-- /.box-footer -->
    </div>
    <!-- /. box -->
  </div>
</div>
