<div class="">
  <div class="row">
    <div class="well">
          <uib-alert type="{{vm.message.type}}" close="vm.closeMessage()" ng-show="vm.message.content"> {{ vm.message.content }} </uib-alert>
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">Client ID</label>
              <div class="col-sm-2">
                <input class="form-control" placeholder="Client ID" ng-model="vm.client._id" disabled>
              </div>
            </div>
            <!-- English & Chinese Names -->
            <div class="form-group">
              <label class="col-sm-2 control-label">English Name</label>
              <div class="col-sm-10">
                <input class="form-control" placeholder="English Name" ng-model="vm.client.englishName" ng-disabled="!vm.editEnabled">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Chinese Name</label>
              <div class="col-sm-10">
                <input class="form-control" placeholder="Chinese Name" ng-model="vm.client.chineseName" ng-disabled="!vm.editEnabled">
              </div>
            </div>
            <!-- English & Chinese Titles End -->

            <!-- Contact Info -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Chinese Address</label>
              <div class="col-sm-4">
                <input class="form-control" placeholder="Address" ng-model="vm.client.chineseAddress" ng-disabled="!vm.editEnabled">
              </div>
            </div class="form-group">
            <div class="form-group">
              <label class="col-sm-2 control-label">English Address</label>
              <div class="col-sm-4">
                <input class="form-control" placeholder="Telephone" ng-model="vm.client.englishAddress" ng-disabled="!vm.editEnabled">
              </div>
            </div>
            <!-- Contact Info End -->

            <div class="form-group">
              <label class="col-sm-2 control-label">Telephone</label>
              <div class="col-sm-4">
                <input class="form-control" placeholder="Telephone" ng-model="vm.client.telephone" ng-disabled="!vm.editEnabled">
              </div>
              <label class="col-sm-2 control-label">Identfication</label>
              <div class="col-sm-4">
                <input class="form-control" placeholder="Identification" ng-model="vm.client.identificationNumber" ng-disabled="!vm.editEnabled">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Representative</label>
              <label class="col-sm-2 control-label">Chinese Name</label>
              <div class="col-sm-3">
                <input class="form-control" placeholder="Name" ng-model="vm.client.repChineseName" ng-disabled="!vm.editEnabled">
              </div>
              <label class="col-sm-2 control-label">English Name</label>
              <div class="col-sm-3">
                <input class="form-control" placeholder="Telephone" ng-model="vm.client.repEnglishName" ng-disabled="!vm.editEnabled">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Comments</label>
              <div class="col-xs-10">
                <input class="form-control" ng-model="vm.client.comment" ng-disabled="!vm.editEnabled"/>
              </div>
            </div>
            <!-- Contacts Information -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Contacts</label>
              <a class="btn btn-xs btn-warning col-sm-offset-1 col-sm-8" ng-click="vm.addContact()" ng-disabled="!vm.editEnabled">Add Contact</a>
            </div>
              <!-- Inventors Form -->
            <div class="form-group" ng-repeat="contact in vm.client.contacts">
              <label class="col-sm-offset-1 col-sm-1 control-label">Name</label>
              <div class="col-sm-2">
                <input class="form-control" placeholder="Name" ng-model="contact.name" ng-disabled="!vm.editEnabled">
              </div>
              <label class="col-sm-1 control-label">Tel</label>
              <div class="col-sm-2" style="width:14%">
                <input class="form-control" placeholder="Telephone" ng-model="contact.telephone" ng-disabled="!vm.editEnabled">
              </div>
              <label class="col-sm-1 control-label">Email</label>
              <div class="col-sm-3" style="width:30%">
                <input class="form-control" placeholder="Email Address" ng-model="contact.email" ng-disabled="!vm.editEnabled">
              </div>
              <div class="col-sm-1" style="width:2%">
                <a style="display:inline" ng-click="vm.deleteContact($index)">
                  <span class="glyphicon glyphicon-remove control-label"></span>
                </a>
              </div>
            </div>
          <hr>
              <!-- Inventors Form End -->
            <!-- Inventors Information End -->
            <hr>
            <!-- Submit Button -->
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-6">
                <button class="btn btn-primary form-control btn-xs" ng-show="!vm.editEnabled" ng-click="vm.enableEdit()"> Edit </button>
              </div>
            </div>
            <!-- Submit Button End -->
            <!-- Submit Button -->
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-6">
                <button class="btn btn-success form-control btn-xs" ng-click="vm.save()" ng-show="vm.editEnabled"> Save </button>
              </div>
            </div>
            <!-- Submit Button End -->
            <!-- Cancel Button -->
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-6">
                <button class="btn btn-danger form-control btn-xs" ng-click="vm.cancelEdit()" ng-show="vm.editEnabled"> Cancel </button>
              </div>
            </div>
            <!-- Cancel Button End -->
          </form>
    </div>
  </div>
</div>
