<div class="well">
      <uib-alert type="{{vm.message.type}}" close="vm.closeMessage()" ng-show="vm.message.content"> {{ vm.message.content }} </uib-alert>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Client ID</label>
          <div class="col-sm-2">
            <input class="form-control" placeholder="Client ID" ng-model="vm.client.clientNumber">
          </div>
        </div>
        <!-- English & Chinese Names -->
        <div class="form-group">
          <label class="col-sm-2 control-label">English Name</label>
          <div class="col-sm-10">
            <input class="form-control" placeholder="English Name" ng-model="vm.client.englishName">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Chinese Name</label>
          <div class="col-sm-10">
            <input class="form-control" placeholder="Chinese Name" ng-model="vm.client.chineseName">
          </div>
        </div>
        <!-- English & Chinese Titles End -->
        <!-- Contact Info -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Chinese Address</label>
          <div class="col-sm-10">
            <input class="form-control" placeholder="Address" ng-model="vm.client.chineseAddress">
          </div>
        </div class="form-group">
        <div class="form-group">
          <label class="col-sm-2 control-label">English Address</label>
          <div class="col-sm-10">
            <input class="form-control" placeholder="Address" ng-model="vm.client.englishAddress">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Telephone</label>
          <div class="col-sm-4">
            <input class="form-control" placeholder="Telephone" ng-model="vm.client.telephone">
          </div>
          <label class="col-sm-2 control-label">Identfication</label>
          <div class="col-sm-4">
            <input class="form-control" placeholder="Telephone" ng-model="vm.client.identificationNumber">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Representative</label>
          <label class="col-sm-2 control-label">Chinese Name</label>
          <div class="col-sm-3">
            <input class="form-control" placeholder="Name" ng-model="vm.client.repChineseName">
          </div>
          <label class="col-sm-2 control-label">English Name</label>
          <div class="col-sm-3">
            <input class="form-control" placeholder="Name" ng-model="vm.client.repEnglishName">
          </div>
        </div>
        <!-- Contact Info End -->
      <hr>
        <!-- Contacts Information -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Contacts</label>
          <a class="btn btn-xs btn-warning col-sm-offset-1 col-sm-8" ng-click="vm.addContact()">Add Contact</a>
        </div>
          <!-- Inventors Form -->
        <div class="form-group" ng-repeat="contact in vm.client.contacts">
          <label class="col-sm-offset-1 col-sm-1 control-label">Name</label>
          <div class="col-sm-2">
            <input class="form-control" placeholder="Name" ng-model="contact.name">
          </div>
          <label class="col-sm-1 control-label">Tel</label>
          <div class="col-sm-2" style="width:14%">
            <input class="form-control" placeholder="Telephone" ng-model="contact.telephone">
          </div>
          <label class="col-sm-1 control-label">Email</label>
          <div class="col-sm-3" style="width:30%">
            <input class="form-control" placeholder="Email Address" ng-model="contact.email">
          </div>
          <div class="col-sm-1" style="width:2%">
            <a style="display:inline" ng-click="vm.deleteContact($index)">
              <span class="glyphicon glyphicon-remove control-label"></span>
            </a>
          </div>
        </div>
      <hr>
          <!-- Inventors Form End -->
        <!-- Inventors Information End -->
        <hr>
        <!-- Submit Button -->
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <button class="btn btn-success form-control btn-xs" ng-click="vm.submit()"> Submit </button>
          </div>
        </div>
        <!-- Submit Button End -->
        <!-- Cancel Button -->
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <button class="btn btn-danger form-control btn-xs" ng-click="vm.cancel()"> Cancel </button>
          </div>
        </div>
        <!-- Cancel Button End -->
      </form>
</div>
