<section class="content" ui-view>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <a class="btn btn-success col-xs-12" ng-click="vm.newClientForm()">New Client</a>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-resize-columns ng-if="vm.gridOptions" class="myGrid"></div>
        </table>
      </div>
      <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  <!-- /.col -->
  </div>
<!-- /.row -->
</section>
