<div class="well">
      <uib-alert type="{{vm.message.type}}" close="vm.closeMessage()" ng-show="vm.message.content"> {{ vm.message.content }} </uib-alert>
      <form class="form-horizontal">
        <!-- Client Info -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Client</label>
          <div class="col-sm-4">
            <select class="form-control" ng-model="vm.patent.clientId">
              <option ng-repeat="client in vm.clients" value="{{client._id}}">{{client._id}}-{{client.chineseName}}</option>
            </select>
          </div>
          <label class="col-sm-2 control-label">Docket</label>
          <div class="col-sm-4">
            <input class="form-control" placeholder="Docket Number" ng-model="vm.patent.docketNumber">
          </div>
        </div>
        <!-- Client Info End -->
        <!-- Patent Information -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Country</label>
          <div class="col-sm-4">
            <select class="form-control" placeholder="Country" ng-model="vm.patent.country">
              <option ng-repeat="country in vm.listCountries" value="{{country}}"> {{country}} </option>
            </select>
          </div>
          <label class="col-sm-2 control-label">Type</label>
          <div class="col-sm-4">
            <select class="form-control" placeholder="Application Type" ng-model="vm.patent.applicationType">
              <option ng-repeat="type in vm.applicationTypes" val="{{type}}">{{type}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">File Date</label>
          <div class="col-sm-4">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.patent.filingDate" is-open="vm.picker1" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.openDatePicker1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <label class="col-sm-2 control-label">App. Number</label>
          <div class="col-sm-4">
            <input class="form-control" placeholder="Application Number" ng-model="vm.patent.filingNumber">
          </div>
        </div>
        <!-- Patent Information End -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Client Docket Number</label>
          <div class="col-sm-4">
            <input class="form-control" placeholder="Client Docket Number" ng-model="vm.patent.clientDocketNumber" >
          </div>
          <label class="col-sm-2 control-label">Publication Date</label>
          <div class="col-sm-4">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.patent.publicationDate" is-open="vm.picker['publicationDate']" datepicker-options="vm.dateOptions" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.openDatePicker('publicationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
        <div class="form-group" ng-show="vm.statusIs('Allowed')">
          <label class="col-sm-2 control-label">Issue Number</label>
          <div class="col-sm-4">
            <input class="form-control" placeholder="Issue Number" ng-model="vm.patent.issueNumber">
          </div>
          <label class="col-sm-2 control-label">Patent Term</label>
          <div class="col-sm-4">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.patent.patentExpirationDate" is-open="vm.picker['patentExpirationDate']" datepicker-options="vm.dateOptions" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.openDatePicker('patentExpirationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
        <!-- English & Chinese Titles -->
        <div class="form-group">
          <label class="col-sm-2 control-label">English Title</label>
          <div class="col-sm-10">
            <input class="form-control" placeholder="English Title" ng-model="vm.patent.englishTitle">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Chinese Title</label>
          <div class="col-sm-10">
            <input class="form-control" placeholder="Chinese Title" ng-model="vm.patent.chineseTitle">
          </div>
        </div>
        <!-- English & Chinese Titles End -->
        <hr>
        <!-- Priority Form -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Priorities</label>
          <a class="btn btn-xs btn-warning col-sm-offset-1 col-sm-8" ng-click="vm.addPriority()">Add Priority</a>
        </div>
        <div ng-repeat="pri in vm.patent.priority">
          <div class="form-group">
            <label class="col-sm-offset-2 col-sm-2 control-label" >Country</label>
            <div class="col-sm-3">
              <select class="form-control" ng-model="pri.priorityCountry">
                <option ng-repeat="country in vm.listCountries" value="{{country}}"> {{country}} </option>
              </select>
            </div>
            <label class="col-sm-2 control-label">Priority Date</label>
            <div class="col-sm-3">
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="pri.priorityDate" is-open="vm.picker[$index]" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="vm.openDatePicker($index)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-offset-2 col-sm-2 control-label">App. Number</label>
            <div class="col-sm-3">
              <input class="form-control" placeholder="Filing Number" ng-model="pri.priorityFilingNumber">
            </div>
            <div class="col-sm-1">
              <a style="display:inline" ng-click="vm.deletePriority($index)">
                <span class="glyphicon glyphicon-remove control-label"></span>
              </a>
            </div>
          </div>
        </div>
        <!-- Priority Form End -->
      <hr>
        <!-- Inventors Information -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Inventors</label>
          <a class="btn btn-xs btn-warning col-sm-offset-1 col-sm-8" ng-click="vm.addInventor()">Add Inventor</a>
        </div>
          <!-- Inventors Form -->
        <div class="form-group" ng-repeat="inventor in vm.patent.inventors">
          <label class="col-sm-1 control-label">Name</label>
          <div class="col-sm-2">
            <input class="form-control" placeholder="Name" ng-model="inventor.inventorEnglishName">
          </div>
          <label class="col-sm-1 control-label">SSN</label>
          <div class="col-sm-2" style="width:14%">
            <input class="form-control" placeholder="ID" ng-model="inventor.inventorIdentification">
          </div>
          <label class="col-sm-1 control-label">Country</label>
          <div class="col-sm-2" style="width:14%">
            <select class="form-control" ng-model="inventor.inventorCountry">
              <option ng-repeat="country in vm.listCountries" value="{{country}}"> {{country}} </option>
            </select>
          </div>
          <label class="col-sm-1 control-label">Address</label>
          <div class="col-sm-2" style="width:14%">
            <input class="form-control" placeholder="Address" ng-model="inventor.inventorAddress">
          </div>
          <div class="col-sm-1" style="width:2%">
            <a style="display:inline" ng-click="vm.deleteInventor($index)">
              <span class="glyphicon glyphicon-remove control-label"></span>
            </a>
          </div>
        </div>
      <hr>
          <!-- Inventors Form End -->
        <!-- Inventors Information End -->
        <!-- Active -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Status</label>
          <a class="btn btn-sm btn-primary col-sm-offset-1 col-sm-2" ng-disabled="!vm.statusIs('Active')" ng-click="vm.changeStatus('Active')">Active</a>
          <a class="btn btn-sm btn-danger col-sm-offset-1 col-sm-2" ng-disabled="!vm.statusIs('Abandoned')" ng-click="vm.changeStatus('Abandoned')">Abandoned</a>
          <a class="btn btn-sm btn-success col-sm-offset-1 col-sm-2" ng-disabled="!vm.statusIs('Allowed')" ng-click="vm.changeStatus('Allowed')">Allowed</a>
        </div>
        <!-- Active End -->
        <hr>
        <!-- Submit Button -->
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <button class="btn btn-success form-control btn-xs" ng-click="vm.submit()"> Submit </button>
          </div>
        </div>
        <!-- Submit Button End -->
        <!-- Cancel Button -->
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <button class="btn btn-danger form-control btn-xs" ng-click="vm.cancel()"> Cancel </button>
          </div>
        </div>
        <!-- Cancel Button End -->
      </form>
</div>
