<div class="">
  <div class="row">
    <div class="col-sm-6 well">
      <uib-alert type="{{vm.message.type}}" close="vm.closeMessage()" ng-show="vm.message.content"> {{ vm.message.content }} </uib-alert>
      <form class="form-horizontal">
        <!-- Client Info -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Client</label>
          <div class="col-sm-4">
            <input class="form-control" ng-model="vm.patent.clientId" disabled>
          </div>
          <label class="col-sm-2 control-label">Docket</label>
          <div class="col-sm-4">
            <input class="form-control" ng-model="vm.patent.docketNumber" disabled>
          </div>
        </div>
        <!-- Client Info End -->
        <!-- Patent Information -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Country</label>
          <div class="col-sm-4">
            <input class="form-control" ng-model="vm.patent.country" disabled>
          </div>
          <label class="col-sm-2 control-label">Type</label>
          <div class="col-sm-4">
            <input class="form-control" placeholder="Application Type" ng-model="vm.patent.applicationType" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">File Date</label>
          <div class="col-sm-4">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.patent.filingDate" is-open="vm.picker['filingDate']" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" ng-disabled="!vm.editEnabled" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.openDatePicker('filingDate')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
          <label class="col-sm-2 control-label">App. Number</label>
          <div class="col-sm-4">
            <input class="form-control" placeholder="Application Number" ng-model="vm.patent.filingNumber" ng-disabled="!vm.editEnabled">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Client Docket Number</label>
          <div class="col-sm-4">
            <input class="form-control" placeholder="Client Docket Number" ng-model="vm.patent.clientDocketNumber" ng-disabled="!vm.editEnabled">
          </div>
          <label class="col-sm-2 control-label">Publication Date</label>
          <div class="col-sm-4">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.patent.publicationDate" is-open="vm.picker['publicationDate']" datepicker-options="vm.dateOptions" close-text="Close" ng-disabled="!vm.editEnabled" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.openDatePicker('publicationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
        <div class="form-group" ng-show="vm.statusIs('Allowed')">
          <label class="col-sm-2 control-label">Issue Number</label>
          <div class="col-sm-4">
            <input class="form-control" placeholder="Issue Number" ng-model="vm.patent.issueNumber" ng-disabled="!vm.editEnabled">
          </div>
          <label class="col-sm-2 control-label">Patent Term</label>
          <div class="col-sm-4">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.patent.patentExpirationDate" is-open="vm.picker['patentExpirationDate']" datepicker-options="vm.dateOptions" close-text="Close" ng-disabled="!vm.editEnabled" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.openDatePicker('patentExpirationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </div>
        <!-- Patent Information End -->
        <!-- English & Chinese Titles -->
        <div class="form-group">
          <label class="col-sm-2 control-label">English Title</label>
          <div class="col-sm-10">
            <input class="form-control" placeholder="English Title" ng-model="vm.patent.englishTitle" ng-disabled="!vm.editEnabled">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Chinese Title</label>
          <div class="col-sm-10">
            <input class="form-control" placeholder="Chinese Title" ng-model="vm.patent.chineseTitle" ng-disabled="!vm.editEnabled">
          </div>
        </div>
        <!-- English & Chinese Titles End -->
        <hr>
        <!-- Test Priority -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Priorities</label>
          <a class="btn btn-xs btn-warning col-sm-offset-1 col-sm-8" ng-click="vm.addPriority()" ng-disabled="!vm.editEnabled">Add Priority</a>
        </div>
        <div ng-repeat="pri in vm.patent.priority">
          <div class="form-group">
            <label class="col-sm-offset-2 col-sm-2 control-label" >Country</label>
            <div class="col-sm-3">
              <select class="form-control" ng-model="pri.priorityCountry" ng-disabled="!vm.editEnabled">
                <option ng-repeat="country in vm.listCountries" value="{{country}}"> {{country}} </option>
              </select>
            </div>
            <label class="col-sm-2 control-label">Priority Date</label>
            <div class="col-sm-3">
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="pri.priorityDate" is-open="vm.priorityDatePicker[$index]" datepicker-options="vm.dateOptions"  close-text="Close" ng-disabled="!vm.editEnabled"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="vm.openPriorityDatePicker($index)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-offset-2 col-sm-2 control-label">App. Number</label>
            <div class="col-sm-3">
              <input class="form-control" placeholder="Filing Number" ng-model="pri.priorityFilingNumber" ng-disabled="!vm.editEnabled">
            </div>
            <div class="col-sm-1">
              <a style="display:inline" ng-click="vm.deletePriority($index)" ng-show="vm.editEnabled">
                <span class="glyphicon glyphicon-remove control-label"></span>
              </a>
            </div>
          </div>
        </div>
      <hr>
        <!-- Inventors Information -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Inventors</label>
          <a class="btn btn-xs btn-warning col-sm-offset-1 col-sm-8" ng-click="vm.addInventor()" ng-disabled="!vm.editEnabled">Add Inventor</a>
        </div>
          <!-- Inventors Form -->
        <div class="form-group" ng-repeat="inventor in vm.patent.inventors">
          <label class="col-sm-1 control-label">Name</label>
          <div class="col-sm-2">
            <input class="form-control" placeholder="Name" ng-model="inventor.inventorEnglishName" ng-disabled="!vm.editEnabled">
          </div>
          <label class="col-sm-1 control-label">SSN</label>
          <div class="col-sm-2" style="width:14%">
            <input class="form-control" placeholder="ID" ng-model="inventor.inventorIdentification" ng-disabled="!vm.editEnabled">
          </div>
          <label class="col-sm-1 control-label">Country</label>
          <div class="col-sm-2" style="width:14%">
            <select class="form-control" ng-model="inventor.inventorCountry" ng-disabled="!vm.editEnabled">
              <option ng-repeat="country in vm.listCountries" value="{{country}}"> {{country}} </option>
            </select>
          </div>
          <label class="col-sm-1 control-label">Address</label>
          <div class="col-sm-2" style="width:14%">
            <input class="form-control" placeholder="Address" ng-model="inventor.inventorAddress" ng-disabled="!vm.editEnabled">
          </div>
          <div class="col-sm-1" style="width:2%" ng-show="vm.editEnabled">
            <a style="display:inline" ng-click="vm.deleteInventor($index)">
              <span class="glyphicon glyphicon-remove control-label"></span>
            </a>
          </div>
        </div>
      <hr>
          <!-- Inventors Form End -->
        <!-- Inventors Information End -->
        <!-- Status -->
        <div class="form-group">
          <label class="col-sm-2 control-label">Status</label>
          <a class="btn btn-sm btn-primary col-sm-offset-1 col-sm-2" ng-disabled="!vm.statusIs('Active')" ng-click="vm.changeStatus('Active')">Active</a>
          <a class="btn btn-sm btn-danger col-sm-offset-1 col-sm-2" ng-disabled="!vm.statusIs('Abandoned')" ng-click="vm.changeStatus('Abandoned')">Abandoned</a>
          <a class="btn btn-sm btn-success col-sm-offset-1 col-sm-2" ng-disabled="!vm.statusIs('Allowed')" ng-click="vm.changeStatus('Allowed')">Allowed</a>
        </div>
        <!-- Status End -->
        <hr>
        <hr>
        <!-- Edit/Cancel Button -->
        <div class="form-group">
          <div class="col-sm-3" ng-disabled="vm.editEnabled">
            <button class="btn btn-info form-control btn-xs" ng-click="vm.enableEdit()"> Edit </button>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-info form-control btn-xs" ng-click="vm.invoice()"> Invoice </button>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-info form-control btn-xs" ng-click="vm.notify()"> Notify </button>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-info form-control btn-xs" ng-click="vm.delete()"> Delete </button>
          </div>
        </div>
        <div class="form-group" ng-show="vm.editEnabled">
          <div class="col-sm-3">
            <button class="btn btn-danger form-control btn-xs" ng-click="vm.cancelEdit()"> Cancel </button>
          </div>
        </div>
        <!-- Edit/Cancel Button End -->
        <!-- Save Button -->
        <div class="form-group" ng-show="vm.editEnabled">
          <div class="col-sm-3">
            <button class="btn btn-success form-control btn-xs" ng-click="vm.save()"> Save </button>
          </div>
        </div>
        <!-- Save Button End -->
      </form>
    </div>
    <!-- Event History Panel -->
    <div class="col-sm-6">
      <uib-accordion close-others="false">
        <uib-accordion-group heading="Event Timeline" is-open="false" panel-class="panel-info">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">Event</label>
              <div class="col-sm-4">
                <select ng-model="vm.newEvent.eventName">
                  <option ng-repeat="eventType in vm.eventTypes"> {{eventType}} </option>
                </select>
              </div>
              <label class="col-sm-2 control-label">Deadline Date</label>
              <div class="col-sm-4">
                <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup ng-model="vm.newEvent.eventDeadline" is-open="vm.picker['Event']" datepicker-options="vm.dateOptions" close-text="Close"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.openDatePicker('Event')"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
            </div>
            <!-- Email and date section -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Notify</label>
              <div class="col-sm-4" ng-dropdown-multiselect="" options="vm.emailsList" selected-model="vm.newEvent.notificationEmails" extra-settings="vm.multiSettings"></div>
              <label class="col-sm-2 control-label">On</label>
              <div class="col-sm-4" ng-dropdown-multiselect="" options="vm.datesList" selected-model="vm.newEvent.notificationDates" extra-settings="vm.multiSettingsDate"></div>
            </div>
            <!-- Email and date section -->
            <textarea class="form-control" rows="1" placeholder="Notes" ng-model="vm.newEvent.eventNote"></textarea>
          </div>
          <button class="btn btn-primary form-control" style="margin-top:10px" ng-click="vm.addEvent()">Add new Event</button>
        </uib-accordion-group>
      </uib-accordion>
      <div class="eventTimeline" ng-show="vm.eventHistory && vm.eventHistory.length > 0">
        <uib-accordion close-others="false">
          <uib-accordion-group ng-repeat="event in vm.eventHistory" ng-disabled="event.completed" panel-class="panel-info" is-open="true" heading="{{event.eventName}}      {{event.eventDeadline | date:'MM/dd/yyyy'}}" >
             <div class="row">
               <label class="col-sm-2">Note:</label>
               <p style="width:100%;display:inline;">{{event.eventNote}}</p>
             </div>
             <div class="row">
               <label class="col-sm-2 control-label">Emails:</label>
               <p style="width:100%;display:inline;" ng-repeat="email in event.notificationEmails"> {{email}} | </p>
             </div>
             <div class="row">
               <label class="col-sm-2 control-label">Dates:</label>
               <p style="width:100%;display:inline;" ng-repeat="date in event.notificationDates"> {{date | date:"MM/dd/yyyy"}} | </p>
             </div>
             <div class="row" style="margin-top:5px">
               <button class="btn-success form-control" ng-show="event.completed" >Completed</button>
               <button class="btn-info form-control" ng-show="!event.completed" ng-click="vm.updateEvent($index)">Update Event</button>
               <button class="btn-primary form-control" ng-show="!event.completed" ng-click="vm.completeEvent($index)">Complete Event</button>
               <button class="btn-danger form-control"  ng-click="vm.deleteEvent($index)">Delete Event</button>
             </div>
          </uib-accordion-group>
        </uib-accordion>
      </div>
    </div>
    <!-- Event History Panel End -->
    <!-- Comment Panel Start -->
    <div class="col-sm-6" style="float:right">
      <uib-accordion close-others="false">
        <uib-accordion-group heading="Comments" is-open="false" panel-class="panel-success">
          <div class="form-horizontal">
            <textarea class="form-control" rows="1" placeholder="Notes" ng-model="vm.newComment"></textarea>
          </div>
          <button class="btn btn-primary form-control" style="margin-top:10px" ng-click="vm.addComment()">Add comment</button>
        </uib-accordion-group>
      </uib-accordion>
      <div class="eventTimeline" ng-show="vm.patent.comments && vm.patent.comments.length > 0">
        <uib-accordion close-others="false">
          <uib-accordion-group ng-repeat="comment in vm.patent.comments track by $index" heading="{{comment}}">
          </uib-accordion-group>
        </uib-accordion>
      </div>
    </div>
    <!-- Comment Panel End -->
  </div>
</div>
